---
import busDemoImg from "assets/images/japan_bus_route_demo.webp";
import citiesDemoImg from "assets/images/world_cities_demo.webp";
import DemoCard from "components/DemoCard.svelte";
import { getLangFromUrl, useTranslations } from "i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---


	<h1>{t("page.demos.title")}</h1>
	<div class="auto-grid">
		{
			<DemoCard imageUrl={busDemoImg.src} url="#" title="Demo Title"></DemoCard>
			<DemoCard imageUrl={citiesDemoImg.src} url="#" title="Demo Title"></DemoCard>
			<DemoCard imageUrl={busDemoImg.src} url="#" title="Demo Title"></DemoCard>
			<DemoCard imageUrl={citiesDemoImg.src} url="#" title="Demo Title"></DemoCard>
			<DemoCard imageUrl={busDemoImg.src} url="#" title="Demo Title"></DemoCard>
			<DemoCard imageUrl={citiesDemoImg.src} url="#" title="Demo Title"></DemoCard>
			<DemoCard imageUrl={busDemoImg.src} url="#" title="Demo Title"></DemoCard>
			<DemoCard imageUrl={citiesDemoImg.src} url="#" title="Demo Title"></DemoCard>
			<DemoCard imageUrl={busDemoImg.src} url="#" title="Demo Title"></DemoCard>
			<DemoCard imageUrl={citiesDemoImg.src} url="#" title="Demo Title"></DemoCard>
			<DemoCard imageUrl={busDemoImg.src} url="#" title="Demo Title"></DemoCard>
			<DemoCard imageUrl={citiesDemoImg.src} url="#" title="Demo Title"></DemoCard>
		}
	</div>

